<!-- Компонент списка студентов -->
<div>
  <h1>Список студентов</h1>

  <!-- Таблица со списком студентов -->
  <table>
    <thead>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Возраст</th>
      <th>Средняя оценка</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <!-- Здесь будет генерироваться список студентов из компонента -->
    <tr *ngFor="let student of students">
      <td>{{ student.name }}</td>
      <td>{{ student.surname }}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.averageGrade }}</td>
      <td>
        <!-- Кнопка удаления студента -->
        <button mat-raised-button (click)="deleteStudent(student.id)">Удалить</button>
      </td>
    </tr>
    </tbody>

  <!-- Кнопка добавления студента -->
  <tr>
    <td>
      <!-- Форма для ввода данных студента -->
      <mat-form-field>
        <input matInput placeholder="Имя" [(ngModel)]="newStudent.name">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput placeholder="Фамилия" [(ngModel)]="newStudent.surname">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput placeholder="Возраст" type="number" [(ngModel)]="newStudent.age">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput placeholder="Средняя оценка" type="number" [(ngModel)]="newStudent.averageGrade">
      </mat-form-field>
    </td>
    <td>
      <!-- Кнопка добавления студента -->
      <button mat-raised-button (click)="addStudent()">Добавить студента</button>
    </td>
  </tr>
  </table>
</div>

